* { 
    margin:0;
    padding: 0;
    border:0;
}

body {
    text-align: center;
    color: #000f08;
    font-family:"Open Sans";
}

nav {
    background-color: #000f08;
    color:white;
    text-align: left;
    padding: 20px 120px;
    font-size: 20px;
}

nav li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 60px;
}

nav li a {
    color: white;
    text-decoration: none;
}

/* Hero Section */

header {
    text-align: right;
    background-image: url(../img/bg-hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    text-shadow: 0px 3px 6px black;
    color: white;
    font-family: "Open Sans", sans-serif;


}
header h1{
    font-size: 60px;
    font-weight: 900;
    }

header h2{
    font-size: 40px;
font-weight: 300;

    }

/* Ubicación */

#Ubicacion {
    padding: 150px;
}

#Ubicacion h2 {
    font-size: 45px;
    margin: 40px 0px 20px 0px ;
}

#Ubicacion p {
    font-size: 25px;
}

/* Próxima Charla */

#Proxima-charla {
    background-color: #a4452c;
    padding: 100px;
    color: white;
}

#Proxima-charla img,.text {
display: inline-block;
vertical-align: middle;
}

#Proxima-charla img{
    height: 350px;
}

#Proxima-charla .text {
    text-align: left;
    width: 40%;
    margin-left: 40px;
    }

    #Proxima-charla .text h3{
        font-size: 45px;
    }
    #Proxima-charla .text h4{
        font-size: 40px;
        padding-bottom: 10px;
    }
    #Proxima-charla .text h6{
        font-size: 33px;
    }
    #Proxima-charla .text span{
        font-size: 20px;
    }
    #Proxima-charla .text p{
        font-size: 25px;
    }
    #Proxima-charla .text h6, span, p{
        font-weight: 400;
    }

    /* Eventos */

    #Eventos {
        padding: 100px;
    }
    #Eventos h2 {
        font-size: 45px;
        margin-bottom: 50px;
    }
    #Eventos article {
        display: inline-block;
        margin: 0px 50px;
        font-size: 35px;
    }
    #Eventos article img{
       margin-bottom: 45px;
    }
footer {
        font-family: "Open Sans", sans-serif;
        text-align: center;
        background: #000f08;
        color: white;
        padding: 20px
        }
        i {
        font-size: 30px
        }